* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn:hover {
  color: #fff;
}
.btn:focus {
  box-shadow: none;
}

// navbar
.material-icons {
  color: #fff;
  cursor: pointer;
}
.bg {
  background-color: #202020;
}
#menu {
  font-size: 1.5rem;
}
.navbar-brand {
  font-size: 1.3rem;
  img {
    width: 6rem;
    height: 2rem;
  }
}

.center {
  width: 40%;
  font-size: 1rem;
  padding-left: 2.5rem;
  .btn {
    width: 4.5rem;
    color: #6f6f6f;
    background-color: #313131;
    padding: 0.3rem 1rem;
    border: 1px solid #313131;
    border-radius: 0;
  }
}

.search-box {
  width: 75%;
  padding: 0.3rem 0.8rem;
  border: 1px solid #313131;
  background-color: #121212;
}
.search {
  display: none;
  width: 100vw;
  background-color: #121212;
  color: #6f6f6f;
  padding: 0.5rem 1rem;
  left: 0;
  top: 3rem;
  border: transparent;
}
.search:focus-visible {
  outline: transparent;
}
.search-box:focus {
  color: #cfcfcf;
  outline: none;
}
.right {
  display: flex;
  justify-content: space-between;
  span {
    padding: 0 0.5rem;
  }
}

.main-container {
  margin-top: 4rem;
  overflow: hidden;
  padding: 0;
}

.sidebar {
  width: 17rem;
  height: 100vh;
  color: #fff;
  margin-right: 0.75rem;
  background-color: #202020;
  overflow-y: scroll;
}
#sidebar::-webkit-scrollbar {
  display: none;
}

.menu-options {
  padding: 0.65rem 1.5rem;
  text-transform: capitalize;
  color: #dfdfdf;
  cursor: pointer;

  a {
    text-decoration: none;
    color: #fff;
  }

  img {
    width: 1.5rem;
    margin-right: 1.5rem;
  }
}
.menu-options:hover {
  background-color: #383838;
}
.line {
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 1rem 0;
}
.heading {
  padding-left: 1.15rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #dfdfdf;
}
.active {
  color: #fff;
  background-color: #383838;
}
.show {
  font-size: 12px;
  align-items: center;
  display: block;
}

#main {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: #181818;
  color: #fff;
  padding: 1.5rem 3rem;
}
#main::-webkit-scrollbar {
  display: none;
}
.video-container {
  margin: 1rem auto;
  padding-bottom: 0.5rem;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.card {
  background-color: transparent;
}
.card-body {
  padding: 0;

  img {
    width: 2.5rem;
    border: 1px solid transparent;
    border-radius: 20px;
  }
}

.title {
  font-size: 1rem;
}

.views {
  font-size: 0.8rem;
  color: #6f6f6f;
}
@media (max-width: 569px) {
  .video-container {
    margin: 0 auto;
    width: 90vw;
  }
  #main {
    padding: 1rem 0;
  }
}

@media (max-width: 570px) {
  #menu {
    display: none;
  }
  #sidebar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: auto;
    margin: 0;
    overflow: hidden;
    justify-content: space-evenly;
    z-index: 500;
  }
  #main {
    width: 105vw;
  }

  .hide {
    display: none !important;
  }
  .search-box {
    display: none;
  }
  .center {
    width: auto;
    span {
      display: none;
    }
  }

  .right {
    display: none;
  }
  .main-container {
    margin-top: 3rem;
  }
  .title {
    font-size: 0.75rem;
  }
  .menu-options {
    padding: 1rem 0;
    text-align: center;
    img {
      margin: 0;
    }
    span {
      font-size: 12px;
      align-items: center;
      display: block;
    }
  }
  .active {
    background-color: transparent;
  }
}

@media (min-width: 571px) and (max-width: 990px) {
  .video-container {
    flex: 0 0 auto;
    width: 50%;
  }
  #sidebar {
    width: 5rem;
  }
  .hide {
    display: none;
  }
  .title {
    font-size: 0.75rem;
  }
  .menu-options {
    padding: 1rem 0;
    text-align: center;
    img {
      margin: 0;
    }
    span {
      font-size: 12px;
      align-items: center;
      display: block;
    }
  }
}
@media (min-width: 991px) {
  .video-container {
    flex: 0 0 auto;
    width: 33%;
  }
  .title {
    font-size: 0.85rem;
  }
}
@media (min-width: 1350px) {
  .video-container {
    flex: 0 0 auto;
    width: 25%;
  }
}
